*
!Dockerfile
!.dockerignore
!requirements*.txt
!src/
!src/**
!scripts/
!scripts/**
!web/
!web/**
!config/
!config/**
!sql/
!sql/**
!vendor/
!vendor/**
!frontend/
!frontend/scripts/
!frontend/scripts/**
