{$APP_FQDN} {
    handle /api/* {
        reverse_proxy web:8000
    }

    handle /healthz {
        reverse_proxy web:8000
    }

    root * /srv/frontend
    try_files {path} /index.html
    file_server
}

{$REPORTS_FQDN} {
    root * /artifacts/output
    file_server
}
